#main {
    display: flex;
    flex-flow: row wrap;
}

.image-box {
    border-radius: 7px;
    padding: 5px;
    border: 2px solid lightslategray;
    margin: 10px;
}

img {
    object-position: top;
    object-fit: cover;
    max-height: 400px;
    max-width: 200px;
}